*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* border: 1px solid black; */
    margin: 10px;
}

#top{
    display: block;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 27px 10px 350px 100px 55px 40px 55px 40px 55px 40px 55px 190px 27px 10px 27px 10px 27px 10px 27px;
    position: relative;
}

/* .topcenter{
    display: block;
    position: absolute;
    left: 0;
   

} */

.fb{
    padding-top: 10px;
}

.home{
    position: absolute;
    left: 450px;
    padding-top: 10px;
}

.play{
    padding-top: 10px;
    position: absolute;
    left: 578px;
}

.people{
    padding-top: 6px;
    position: absolute;
    right: 578px;
}

.peopleimg{
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
}

.magicwand{
    position: absolute;
    right: 450px;
    width: 25px;
    height: 15px;
    border: 1px solid #808080;
    border-radius: 10px;
    
}

.magic{
    padding-top: 10px;
}

.menuimg{
    width: 35px;
    height: 35px;
    
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    background-color: #D3D3D3;
    padding: 6px;
}
.menu{
    
    position: absolute;
    right: 149px;
}

.mssg{
    width: 35px;
    height: 35px;
    border: 5px solid #D3D3D3;
    border-radius: 50%;
    background-color: #D3D3D3;
    padding: 3px;
}
.message{
    position: absolute;
    right: 107px;
}

.notification{
    width: 35px;
    height:35px;
    border: 6px solid #D3D3D3;
    border-radius: 50%;
    background-color: #D3D3D3;  
    padding: 3px;
}
.bell{
    position: absolute;
    right: 65px;  
}

.mylogo{
    width: 35px;
    height: 35px;
    border: 5px solid #D3D3D3;
    border-radius: 50%;
    background-color: #D3D3D3;
}
.logo{
    position: absolute;
    right: 22px;
}

::placeholder{
    padding: 30px;
    
}

input{
    width: 215px;
    height: 33px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: rgba(119, 136, 153, 0.3);
}   

.inpuu i{
    position: absolute;
    top: 10px;
    padding-left: 12px;
    
}



.magnify{
    position: absolute;
    left: 50px;
    top: 15px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -.125em;
    padding: 2px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #D3D3D3;
    width: auto;
    height: 100vh;
    margin: 1px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 290px 170px 370px 250px 275px;
}

#sidemenu{
    display: grid;
    grid-auto-flow: row;
    margin-top: 15px;
    width: 265px;
    height: 350px;
}

.mylogomain{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 39px 300px;
    margin-left: 2px;
    margin-top: 0px;
}

.mylogomain img{
    width: 30px;
    height: 30px;
    border: 5px solid #D3D3D3;
    border-radius: 50%;
    background-color: gold;
    /* margin-top: 50px; */
}

.friends{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 8px;
}

.feeds{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 7px;
}

.groups{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 6px;
}

.mktplace{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 7px;
}

.watches{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 7px;
}

.memory{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 35px 90px;
    margin-left: 7px;
}
.centercontent{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 70px 275px;
    margin-top: 28px;
    /* background-color: rgba(119, 136, 153, 0.1); */
    /* height: 350px; */
    position: absolute;
    left: 440px;
    right: 440px;
}
#centermenu{
    position: absolute;
    left: 1px;
    right: 1px;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 90px 90px 90px;
   
    height: 70px;
    
    justify-content: space-around;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    margin-left: 1px;
    margin-top: 1px;
    background-color: #F8F8FF;   
}
#centermenu a{
    display: block;
    height: 80%;
    padding-top: 20px;
    /* padding-left: 9px; */
    border-radius: 10px;
}

#centermenu a:hover{
    background-color: lightgray;
}



.reelsvg{
    width: 20px;
    height: 18px;
}
.reelsvg, .reeltext{
    vertical-align: middle;
    /* display: inline-block;  */   
}

.roomsvg, .roomtext{
    vertical-align: middle;
}

.storytext, .stories i{
    vertical-align: middle;
    
}

.rooms{
    padding-left: 5px;
}

.reels{
    padding-left: 13px;
}

.stories{
    padding-left: 5px;
}

#mdi-video-plus{
    width: 20px;
    height: 20px;
}

#mdi-video-plus, .roomtext{
    vertical-align: middle;
    /* display: inline-block; */
}

.indicator{
    width: 90px;
    height: 5px;
    border: 2px solid #1E90FF;
    background-color: #1E90FF;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    left: 345px;
    top: 65px;
}

#centerpics{
    height: 262px;
    position: absolute;
    left: 1px;
    right: 1px;
    background-color: #F8F8FF;
    margin-top: 73px;
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.picho1, .picho2, .picho3, .picho4{
    border: 1px solid blue;
    border-radius: 10px;
    height: 230px;
    width: 110px;
    margin-top: 18px;
}

.picho1{
    background: url(/fb_pichos/271294240_10165843028305133_1203177549377232875_n.jpg);
}

.picho2{
    background: url(/fb_pichos/347228953_211110501722787_5349358681963251100_n.jpg);
}

.picho3{
    background: url(/fb_pichos/cb926e00121cb0be0f49b86f19ec0fd3.jpg);
}

.picho4{
    background: url(/fb_pichos/254081037_108778134940453_8182050406451489288_n.jpg);
}

.centercontent{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 70px 275px;
    margin-top: 28px;
    /* background-color: rgba(119, 136, 153, 0.1); */
    /* height: 350px; */
    position: absolute;
    left: 440px;
    right: 440px;
}

#endmenu{
    width: 255px;
    height: 350px;
    margin-top: 28px;
    border: 1px solid grey;
    position: absolute;
    right: 1px;
    border-radius: 10px;
}

.sponsor{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.firstsponsor{
    border: 1px solid #1E90FF;
    margin: auto;
    width: 240px;
    height: 140px;
    text-align: center;
}
.secondsponsor{
    border: 1px solid #1E90FF;
    margin: auto;
    width: 240px;
    height: 140px;
    text-align: center;
}
/* .sponsor1{
    border: 1px solid blue;
    width: 240px;
    height: 170px;
}
 */